<h1 class='text-center'>About Animl</h1>
<div class="row">
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-2">
		<img src="/assets/seaOtter.jpg" class="img-responsive animalPic" alt="Image">		
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id='babyPanda'>
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " id='sealPhotobomb'>		
	</div>
	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
		<img src="/assets/sloth.jpg" class="img-responsive animalPic" alt="Image">		
	</div>
</div>
<div class="row" id='my-info'>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1">
		<img src="/assets/myPic.jpg" class="img-responsive" alt="Image" id='me'>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<p>Animl was created by me, Joe Rehfuss, in one week as a class project for a General Assembly Web Development Immersive class.  The idea of finding out where people have seen certian animals around your location speaks to me as a former marine biologist.  There are a laundry list of features I still wish to add, along with known issues, on the <a id='projectGit' href="https://github.com/Rufasa85/Animl">GitHub page</a> for this project.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
		<ul id='techs'>
			<li>Search results generated using the <a href="http://bison.usgs.ornl.gov/">BISON API</a></li>
			<li>Zip codes converted to county FIPS code using <a href="https://github.com/bgruber/zip2fips">Zip2Fips project</a></li>
			<li>Latitude and Longitude converted to county FIPS code using <a href="https://www.fcc.gov/developers/census-block-conversions-api">Census Block Conversions API</a>
			<li>Maps generated using the <a href="https://developers.google.com/maps/?hl=en">Google Maps API</a>
		</ul>
	</div>
</div>
