<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class='text-center'>Welcome to animl!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2">
				<p>
					Are you an animal lover looking for cool creatures in your own backyard? Animl is the app for you! Search for an animal you want to find, and we will tell you everywhere it has been seen in the county where you live! Seen an animal that you want the world to know about? You can add your own sightings as well! Try it out!!
				</p>
			</div>
		</div>
		<div class="row bottom-jumbotron">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
				<a class="btn btn-primary btn-lg center-block" href='/search'>find some animals!</a>
			</div>
		</div>
	</div>
</div>
