<form action="" method="POST" role="form">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
			<legend class='text-center'>Sign up!</legend>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
			<div class="form-group">
				<label for="email">email:</label>
				<input type="text" class="form-control" id="email" name='email' placeholder="ex: joe@example.com">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
			<div class="form-group">
				<label for="password">password:</label>
				<input type="password" class="form-control" id="password" name='password' placeholder="must be at least 8 characters">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
			<div class="form-group">
				<label for="password2">Re-type password:</label>
				<input type="password" class="form-control" id="password2" name='password2' placeholder="">
			</div>
		</div>
	</div>	

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4">
			<div class="form-group">
				<label for="zipcode">Zip code:</label>
				<input type="number" class="form-control" id="zipcode" name='zipcode' placeholder="5 digit code, eg: 98107">
			</div>
		</div>
	</div>	


	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-5">
			<button type="submit" class="btn btn-primary btn-block">Sign up!</button>
		</div>
	</div>	
</form>