<form action="" method="POST" role="form">
	<legend>Find some animals</legend>

	<div class="form-group">
		<label for="amimal">animal name</label>
		<input type="text" class="form-control" id="animal" name='animal'>
	</div>
	<% if (!currentUser) { %>
		<div class="form-group">
			<label for="zip">zip code</label>
			<input type="number" class="form-control" id="zip" name='zip'>
		</div>
	<% } else {%>
		<input type = 'hidden' name = 'county' value = <%= currentUser.county%> >
	<% } %>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>