<h1><%=animal%>s near you!</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Spiny_lumpsucker_(Eumicrotremus_orbis).jpg" class="img-responsive" alt="Image">
<div style="background:red">
	map goes here!
</div>